.profile{
    max-width: 880px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 282px;
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}